@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, #C9363F 0%, #E55A1F 100%);
    background-repeat: no-repeat;
    background-size: 100%;
}

.main{
    padding-top: 0;
    overflow: hidden;
}
.main>.container{
    max-width:100%;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.remodal{
    max-width: 800px;
    border: 20px solid #FDB913;
    background-color: #C9363F;
    text-align: left;
    border-radius: 21px;
    padding: 94px 29px 65px 32px ;
}
.remodal-close{
    top: 20px;
    right: 20px;
    left: auto;
    width: 30px;
    height: 30px;
}
.remodal-close:before{
    content: '';
    background-image: url("../img/remodal-close.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.remodal p{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 0 20px;
}

.galamart-11-wrp{
    position: relative;
}


.galamart-11-hero{
    position: relative;
    overflow: hidden;
    padding: 64px 15px;
    margin-bottom: 5px;
}
.galamart-11-hero__body{
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
    align-items: center;
    gap: 50px;
}
.galamart-11-hero__logo{
    margin-left: -82px;
    flex-shrink: 0;
}
.galamart-11-hero__content{
    flex: 1 0 545px;
    max-width: 545px;
}
.galamart-11-hero__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0 0 19px;
}
.galamart-11-hero__anons{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin: 0 0 30px;
}
.galamart-11-hero__btn{
    display: inline-block;
    max-width: 357px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    user-select: none;
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(0deg, #FDB913 0%, #FF7A00 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.galamart-11-catalog{
    padding-bottom: 133px;
    position: relative;
}
.galamart-11-catalog__body{
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(333px,352px));
    grid-gap: 38px 24px;
}
.galamart-11-catalog__item{
    position: relative;
    width: 100%;
    height: 354px;
    margin: 0 auto;
    padding: 20px 30px 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);

}
.galamart-11-catalog__item:before{
    content: '';
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: -1;
    inset: 0;
    border-radius: 40px;
    padding: 20px;
    background:linear-gradient(0deg,#FDB913,#FF7A00);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    box-shadow:  0 4px 4px 0 rgba(0,0,0,.25);
    pointer-events: none;
}
.galamart-11-catalog__item:after{
    content: '';
    position: absolute;
    top: 20px;
    width: calc(100% - 40px);
    height: 60px;
    z-index: -2;
    box-shadow: inset  0 4px 4px 0 rgba(0,0,0,.25);
    border-radius: 20px;
    pointer-events: none;
}
.galamart-11-catalog__item.vertical{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 746px;

}

.galamart-11-catalog__figure{
    width: calc(100% + 40px);
    height: 100%;
    margin: 0;
    position: relative;
    flex-grow: 1;
}
.galamart-11-catalog__figure img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.galamart-11-catalog__name{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin: 0;
    text-shadow: 0 4px 4px rgba(0,0,0,.25);
}


.decor{
    position: absolute;
    z-index: -10;
    opacity: .5;
    filter: blur(4px);
}
.decor1{
    top: 8%;
    left: -120px;
}
.decor2{
    top: 38%;
    left: -120px;
}
.decor3{
    top: 66%;
    left: -3px;
}
.decor4{
    top: 89%;
    left: -1px;
}

.decor5{
    top: 21%;
    right: -120px;
}
.decor6{
    top: 43%;
    right: -82px;
}
.decor7{
    top: 59%;
    right: -40px;
}
.decor8{
    top: 88%;
    right: -1px;
}