@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: -webkit-gradient(linear, left top, left bottom, from(#C9363F), to(#E55A1F));
    background: -o-linear-gradient(top, #C9363F 0%, #E55A1F 100%);
    background: linear-gradient(180deg, #C9363F 0%, #E55A1F 100%);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-search.only-mobile{
    position: relative;
    margin: 0 -15px;
    padding: 0 15px;
    background-color: #ffffff;
}
.main{
    padding-top: 0;
    overflow: hidden;
}
.main>.container{
    max-width:100%;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.d-mobile{
    display: none;
}
.d-desktop{
    display: block;
}
@media (max-width: 767px) {
    .d-mobile{
        display: block!important;
    }
    .d-desktop{
        display: none!important;
    }
}


.remodal{
    max-width: 800px;
    border: 20px solid #FDB913;
    background-color: #C9363F;
    text-align: left;
    border-radius: 21px;
    padding: 94px 29px 65px 32px ;
}
.remodal-close{
    top: 20px;
    right: 20px;
    left: auto;
    width: 30px;
    height: 30px;
}
.remodal-close:before{
    content: '';
    background-image: url("../img/remodal-close.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.remodal p{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 0 20px;
}

.galamart-11-wrp{
    position: relative;
}


.galamart-11-hero{
    position: relative;
    overflow: hidden;
    padding: 64px 15px;
    margin-bottom: 5px;
}
.galamart-11-hero__body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 50px;
}
.galamart-11-hero__logo{
    margin-left: -82px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.galamart-11-hero__content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 545px;
    flex: 1 1 545px;
    max-width: 545px;
}
.galamart-11-hero__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0 0 19px;
}
.galamart-11-hero__anons{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin: 0 0 30px;
}
.galamart-11-hero__btn{
    display: inline-block;
    max-width: 357px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    text-decoration: none;
    color: #fff;
    background: -webkit-gradient(linear, left bottom, left top, from(#FDB913), to(#FF7A00));
    background: -o-linear-gradient(bottom, #FDB913 0%, #FF7A00 100%);
    background: linear-gradient(0deg, #FDB913 0%, #FF7A00 100%);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.galamart-11-catalog{
    position: relative;
    padding: 0 15px 133px;
}
.galamart-11-catalog__body{
    max-width: 1110px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 38px 24px;
}
.galamart-11-catalog__item{
    position: relative;
    width: 100%;
    height: 354px;
    margin: 0 auto;
    padding: 20px 30px 51px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-radius: 40px;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
    opacity: 0;

}
.galamart-11-catalog__item:before{
    content: '';
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: -1;
    inset: 0;
    border-radius: 40px;
    padding: 20px;
    background:-webkit-gradient(linear,left bottom, left top,from(#FDB913),to(#FF7A00));
    background:-o-linear-gradient(bottom,#FDB913,#FF7A00);
    background:linear-gradient(0deg,#FDB913,#FF7A00);
    -webkit-mask:
            -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box,
            -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-box-shadow:  0 4px 4px 0 rgba(0,0,0,.25);
    box-shadow:  0 4px 4px 0 rgba(0,0,0,.25);
    pointer-events: none;
}
.galamart-11-catalog__item:after{
    content: '';
    position: absolute;
    top: 20px;
    width: calc(100% - 40px);
    height: 60px;
    z-index: -2;
    -webkit-box-shadow: inset  0 4px 4px 0 rgba(0,0,0,.25);
    box-shadow: inset  0 4px 4px 0 rgba(0,0,0,.25);
    border-radius: 20px;
    pointer-events: none;
}
.galamart-11-catalog__item.vertical{
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    height: 746px;

}

.galamart-11-catalog__figure{
    width: calc(100% + 40px);
    height: 100%;
    margin: 0;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
}
.galamart-11-catalog__figure img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

}
.galamart-11-catalog__figure img{
    position: absolute;
    height: auto;
    /*top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);*/
}
.galamart-11-catalog__name{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin: 0;
    text-shadow: 0 4px 4px rgba(0,0,0,.25);
}

.tehnika-1{
    top: 7px;
    left: 5px;
}
.tehnika-2{
    top: 67px;
    left: 118px;
}
.tehnika-3{
    top: 292px;
    left: -24px;
}
.tehnika-4{
    top: 273px;
    left: 150px;
}

.hoztovar-1{
    top: 44px;
    left: -38px;
}
.hoztovar-2{
    top: -8px;
    left: 93px;
}

.posuda-1{
    top: -29px;
    left: 38px;
}
.posuda-2{
    top: 43px;
    left: -64px;
}
.posuda-3{
    top: 52px;
    left: 134px;
}

.tekstil-2{
    top: 75px;
    left: 115px;
}
.tekstil-1{
    top: -10px;
    left: -27px;
}

.galantereya-1{
    top: -35px;
    left: -10px;
}
.galantereya-2{
    top: 25px;
    left: 197px;
}
.galantereya-3{
    top: 100px;
    left: -11px;
}

.aromotizatory-1{
    top: 49px;
    left: -30px;
}
.aromotizatory-2{
    top: -22px;
    left: 87px;
}
.aromotizatory-3{
    top: -32px;
    left: 174px;
}

.kanctovary-1{
    top: -32px;
    left: 16px;
}
.kanctovary-2{
    top: -28px;
    left: 112px;
}
.kanctovary-3{
    top: 74px;
    left: 138px;
}

.deti-1{
    top: -28px;
    left: 79px;
}
.deti-2{
    top: -14px;
    left: -21px;
}
.deti-3{
    top: 87px;
    left: 224px;
}

.sport-1{
    top: -23px;
    left: -21px;
}
.sport-2{
    top: 59px;
    left: 83px;
}

.podarki-1{
    top: 4px;
    left: -29px;
}
.podarki-2{
    top: 33px;
    left: 107px;
}
.podarki-3{
    top: -38px;
    left: 105px;
}

.newyear-1{
    top: -55px;
    left: -1px;
}
.newyear-2{
    top: -38px;
    left: 97px;
}
.newyear-3{
    top: 26px;
    left: 193px;
}

.avto-1{
    top: -32px;
    left: -10px;
}
.avto-2{
    top: -73px;
    left: 125px;
}

.electronika-1{
    top: 16px;
    left: -55px;
}
.electronika-2{
    top: -32px;
    left: 56px;
}
.electronika-3{
    top: 14px;
    left: 165px;
}

.dom-1{
    top: -33px;
    left: 144px;
}
.dom-2{
    top: 17px;
    left: -1px;
}

.santehnika-1{
    top: -37px;
    left: -9px;
}
.santehnika-2{
    top: -24px;
    left: 150px;
}

.instrumenty-1{
    top: -28px;
    left: 105px;
}
.instrumenty-2{
    top: 28px;
    left: -23px;
}
.instrumenty-3{
    top: 63px;
    left: 160px;
}

.turizm-1{
    top: -26px;
    left: -55px;
}
.turizm-2{
    top: -26px;
    left: 120px;
}

.decor{
    position: absolute;
    z-index: -10;
}
.decor1{
    top: 4%;
    left: -70px;
}
.decor2{
    top: 35%;
    left: -191px;
}
.decor3{
    top: 65%;
    left: -77px;
}
.decor4{
    top: 88%;
    left: -35px;
}

.decor5{
    top: 18%;
    right: -84px;
}
.decor6{
    top: 40%;
    right: -132px;
}
.decor7{
    top: 59%;
    right: -22px;
}
.decor8{
    top: 86%;
    right: -100px;
}

@media (max-width: 1023px) {
    .galamart-11-hero__body{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1110px;
        margin: 0 auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 50px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .galamart-11-hero__logo{
        margin: 0 auto;

    }
    .galamart-11-hero__content{
        -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        max-width: 100%;
    }

    .galamart-11-catalog__item{
        height: 300px;
    }
    .galamart-11-catalog__item.vertical{
        height: 644px;

    }
}
@media (max-width: 767px) {
    .remodal {
        border: 11px solid #FDB913;
        border-radius: 15px;
        padding: 56px 15px 100px 15px;
    }
    .remodal-close{
        top: auto;
        bottom: 29px;
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        transform: translate(-50%,0);
    }
    .remodal p{
        font-size: 14px;
        line-height: 17px;
    }

    .galamart-11-hero{
        padding: 16px 20px;
        margin-bottom: 34px;
    }
    .galamart-11-hero__body{
        gap: 20px;
    }
    .galamart-11-hero__logo{
        left: 50%;
        -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        transform: translate(-50%,0);
        position: relative;
        max-width: 130%;
        margin-left: 12px;
        margin-top: -12px;
    }
    .galamart-11-hero__anons{
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 30px;
    }
    .galamart-11-hero__btn{
        font-size: 18px;
        line-height: 22px;
        padding: 14px;
        max-width: 100%;
    }

    .galamart-11-catalog{
        padding: 0 20px 65px;
    }
    .galamart-11-catalog__body{
        display: block;
    }
    .galamart-11-catalog__item,
    .galamart-11-catalog__item.vertical{
        height: 188px;
        padding: 20px 30px 29px;
        margin-bottom: 24px;
    }
    .galamart-11-catalog__item:before{
        padding: 14px;
        border-radius: 38px;
    }
    .galamart-11-catalog__item:after{
        top: 15px;
        width: calc(100% - 26px);
        height: 30px;
        z-index: -2;
        border-radius: 20px;
    }
    .galamart-11-catalog__figure{
        /*width: 80%;*/
    }
    /*.galamart-11-catalog__figure img{
        display: block;
        width: auto;
        height: auto;
        top: auto;
        bottom: 0;
        left: auto;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);

    }*/
    .galamart-11-catalog__name{
        font-size: 20px;
        line-height: 24px;
    }
    .galamart-11-catalog__name br{
        display: none;
    }



    .tehnika-1{
        top: -22px;
        left: 41px;
        width: 73px;
        transform: rotate(-16deg);
    }
    .tehnika-2{
        top: -12px;
        left: 143px;
        width: 120px;
    }
    .tehnika-3{
        top: -48px;
        left: 70px;
        width: 142px;
        transform: rotate(18deg);
    }
    .tehnika-4{
        top: -45px;
        left: 225px;
        width: 118px;
        transform: rotate(6deg);
    }

    .hoztovar-1{
        top: -27px;
        left: 10px;
        width: 188px;
    }
    .hoztovar-2{
        top: -40px;
        left: 132px;
        width: 159px;
    }

    .posuda-1{
        top: -49px;
        left: 73px;
        width: 173px;
    }
    .posuda-2{
        top: -20px;
        left: -37px;
        width: 190px;
    }
    .posuda-3{
        top: -19px;
        left: 166px;
        width: 157px;
    }

    .tekstil-2{
        top: -41px;
        left: 103px;
        width: 217px;
    }
    .tekstil-1{
        top: -32px;
        left: 10px;
        width: 208px;
    }

    .galantereya-1{
        top: -53px;
        left: 63px;
        width: 200px;
        transform: rotate(21deg);
    }
    .galantereya-2{
        top: 12px;
        left: 181px;
        width: 105px;
        transform: rotate(10deg);
    }
    .galantereya-3{
        top: -5px;
        left: 25px;
        width: 158px;
    }

    .aromotizatory-1{
        top: 3px;
        left: 36px;
        width: 100px;
    }
    .aromotizatory-2{
        top: -36px;
        left: 119px;
        width: 93px;
    }
    .aromotizatory-3{
        top: -36px;
        left: 193px;
        width: 98px;
        transform: rotate(11deg);
    }

    .kanctovary-1{
        top: -57px;
        left: 13px;
        width: 104px;
        transform: rotate(-23deg);
    }
    .kanctovary-2{
        top: -33px;
        left: 97px;
        width: 125px;
    }
    .kanctovary-3{
        top: -5px;
        left: 174px;
        width: 161px;
    }

    .deti-1{
        top: -32px;
        left: 164px;
        width: 165px;
        transform: rotate(10deg);
    }
    .deti-2{
        top: -42px;
        left: 30px;
        width: 122px;
    }
    .deti-3{
        top: 19px;
        left: 117px;
        width: 104px;
    }

    .sport-1{
        top: -46px;
        left: 17px;
        width: 228px;
        transform: rotate(4deg);
    }
    .sport-2{
        top: -8px;
        left: 139px;
        width: 173px;
        transform: rotate(-11deg);
    }

    .podarki-1{
        top: -38px;
        left: 17px;
        width: 126px;
    }
    .podarki-2{
        top: -33px;
        left: 149px;
        width: 194px;
    }
    .podarki-3{
        top: -52px;
        left: 99px;
        width: 125px;
    }

    .newyear-1{
        top: -49px;
        left: 19px;
        width: 109px;
    }
    .newyear-2{
        top: -52px;
        left: 72px;
        width: 198px;
    }
    .newyear-3{
        top: 11px;
        left: 182px;
        width: 114px;
    }

    .avto-1{
        top: -43px;
        left: 55px;
        width: 163px;
    }
    .avto-2{
        top: -65px;
        left: 124px;
        width: 173px;
        transform: rotate(17deg);
    }

    .electronika-1{
        top: -27px;
        left: -12px;
        width: 181px;
        transform: rotate(-22deg);
    }
    .electronika-2{
        top: -18px;
        left: 112px;
        width: 112px;
        transform: rotate(30deg);
    }
    .electronika-3{
        top: -32px;
        left: 179px;
        width: 145px;
    }

    .dom-1{
        top: -42px;
        left: 168px;
        width: 124px;
    }
    .dom-2{
        top: -31px;
        left: 31px;
        width: 139px;
        transform: rotate(-10deg);
    }

    .santehnika-1{
        top: -21px;
        left: 59px;
        width: 111px;
    }
    .santehnika-2{
        top: -44px;
        left: 174px;
        width: 154px;
        transform: rotate(32deg);
    }

    .instrumenty-1{
        top: -40px;
        left: 102px;
        width: 129px;
    }
    .instrumenty-2{
        top: -29px;
        left: 4px;
        width: 133px;
    }
    .instrumenty-3{
        top: -14px;
        left: 187px;
        width: 139px;
        transform: rotate(-14deg);
    }

    .turizm-1{
        top: -58px;
        left: -21px;
        width: 208px;
        transform: rotate(16deg);
    }
    .turizm-2{
        top: -42px;
        left: 139px;
        width: 191px;
        transform: rotate(-10deg);
    }

    .decor{
        display: none;
    }
}